{% extends 'base.html' %}

<!-- Featured Products Section -->
{% load static %} {% block content %}
<section class="container mt-5">
  <h3 class="text-center mb-4">Featured Products</h3>
  <div class="row">
    {% for product in object_list %}
    <div class="col-md-3">
      <div class="card">
        <img
          src="{% static 'images/product1.jpg' %}"
          alt="Product 1"
          class="card-img-top"
        />
        <div class="card-body">
          <a href=""
            ><h5 class="card-title">{{product.title}}</h5>
            <span class="badge badge-pill {{product.get_label_dispaly}}-color"
              >New</span
            >
          </a>
          <p class="card-text">
            <span class="text-muted">${{product.price}}</span>
            <span class="text-danger ms-2">${{product.discount_price}}</span>
          </p>

          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    <!-- Add similar code blocks for other products -->
    {% endfor %}
  </div>
</section>
{% endblock %}
